html{
    width: 100%vh;
    height: 100vh;
    background-color: black;
}

header{
    background-color: #202C334D;
    display: flex;
    padding-left: 70px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    font-size: 150%;
    color: white;
}

.tituloheader{
    width: 780px;
    margin-top: 15px;
    align-items: center;
}

.entre{
    font-family: 'Kulim Park';
    text-align: center;
    width: 150px;
    align-items: center;
}

.cadastro{
    font-family: 'Kulim Park';
    text-align: center;
    width: 300px;
    align-items: center;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    font-family: "koulen";
}

.input-field{
    margin-right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ondehoje {
    font-size: 170%;
    margin-bottom: 20px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 530;
    font-family: "koulen";

}
.container{
    width: 400px; height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #17232b;
    
}

.user{
    font-size: 70%;
    width: 200px; height: 50px;
    display: flex;
    flex-direction: column;
    
}

.email{
    width: 230px;
    border-radius: 400px;
    background-color: rgb(21, 33, 40);
    border: 0;
    padding: 0% 7%;
    height: 37px;
    color: white;
    font-family: 'kulim park';
}

.password{
    font-size: 70%;
    color:rgb(123, 109, 113);
    width: 200px; height: 40px;
    display: flex;
    flex-direction: column;
}

.senha{
    width: 230px;
    border-radius: 400px;
    background-color: rgb(21, 33, 40);
    border: 0;
    padding: 0% 7%;
    height: 37px;
}

input::placeholder {
    color: white;
  }


.botao{
    float:inline-start;
    text-align: center;
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 400px;
    margin-left: 40px;
    display: flex;
    width: 110px; height: 33px;
    border: 0px;
    color: white;
    background-color: rgb(27, 27, 27);
}

.botao2{    
    float: inline-end;
    text-align: center;
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 400px;
    margin-right: 40px;
    display: flex;
    width: 110px; height: 33px;
    border: 0px;
    color: white;
    background-color: rgb(93, 93, 93);
    margin-bottom: 40px;
}

.titulo{
    width: 258px;
    height: 37px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 60px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 65%;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Kulim Park';
}

.botao:hover{
    background-color: rgb(46, 46, 46);
}

.botao::selection{
    background-color: rgb(62, 62, 62);
}

.botao:active{
    background-color: rgb(82, 82, 82);
}

.botao2:hover{
    background-color: rgb(105, 105, 105);
}

.botao2::selection{
    background-color: rgb(117, 117, 117);
}

.botao2:active{
    background-color: rgb(122, 122, 122);
}

a:link {
    color: white;
 }

 a:visited {
    color: white;
 }

 a:hover {
    color: white;
 }

 a:active {
    color: white;
 }